body{background: #333;margin:0px !important;}
div.section{background:#fff;}
.navbar{background-color:rgba(0,0,0,0.1);}
.parallax-window {
    min-height: 400px;
    background: transparent;
}

.bg-secondary{background: #FF9 !important;}