*,html,body{background:#333;}
hr {margin: 1rem;border: 0;border-top: 1px solid rgba(255, 255, 255, 0.5);}
h1{color:#fff !important;}
img{border:solid 5px #fff !important;outline:solid 5px #999;margin:10px !important;display:inline-block !important;}
