*,html,body{background:#333;line-height:1.2em;}
hr {margin: 1rem;border: 0;border-top: 1px solid rgba(255, 255, 255, 0.5);}
img{border:solid 5px #999 !important;outline:solid 1px #f00;margin:10px !important;display:inline-block !important;}